Add HTTP/1.1 docset

From https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead:
- RFC7230 - [HTTP/1.1: Message Syntax and
  Routing](http://tools.ietf.org/html/rfc7230)&nbsp;-
  low-level message parsing and connection management
- RFC7231 - [HTTP/1.1: Semantics and
  Content](http://tools.ietf.org/html/rfc7231)&nbsp;-
  methods, status codes and headers
- RFC7232 - [HTTP/1.1: Conditional Requests](http://tools.ietf.org/html/rfc7232)&nbsp;\- e.g.,
  If-Modified-Since
- RFC7233 - [HTTP/1.1: Range Requests](http://tools.ietf.org/html/rfc7233)&nbsp;\- getting partial
  content
- RFC7234 - [HTTP/1.1: Caching](http://tools.ietf.org/html/rfc7234)&nbsp;\- browser and
  intermediary caches
- RFC7235 - [HTTP/1.1: Authentication](http://tools.ietf.org/html/rfc7235)&nbsp;\- a framework for HTTP
  authentication

Would be sweet to Dash "http 301" or "http content-type" and the like. :)


Yeah, a docset with HTTP codes would be awesome!

@victorhooi there is a Cheat Sheet in Dash called [HTTP Status Codes](https://github.com/Kapeli/cheatsheets/blob/master/cheatsheets/HTTP_Status_Codes.rb)

Would really love this.

As @victorhooi mentioned there is the HTTP Status Codes cheat sheet.  Should this issue be closed?

The status code cheat sheet is great, but I think that complete HTTP/1.1 docset would be very useful. 